<VirtualHost *:80>

  ServerName {{ rainloop_vhost }}
  Redirect permanent / https://{{ rainloop_vhost }}

</VirtualHost>

    root                {{ rainloop_path }};
    access_log          {{ rainloop_log }}/access.log;
    error_log           {{ rainloop_log }}/error.log;

<VirtualHost *:443>

  ServerName   {{ rainloop_vhost }}
  ServerAlias  {{ rainloop_vhost }}
  DocumentRoot {{ rainloop_path }}
  ErrorLog     {{ rainloop_log }}/error.log
  CustomLog    {{ rainloop_log }}/access.log combined
  SSLEngine    on
  SSLProtocol {{ apache_ssl_settings.SSLProtocol }}
  SSLCipherSuite {{ apache_ssl_settings.SSLCipherSuite }}
  SSLHonorCipherOrder {{ apache_ssl_settings.SSLHonorCipherOrder }}
  SSLCertificateFile {{ rainloop_ssl_crt }}
  SSLCertificateKeyFile {{ rainloop_ssl_key }}
  SSLCertificateChainFile {{ rainloop_ssl_chain }}

  <Directory />
    Options +Indexes +FollowSymLinks +ExecCGI
    AllowOverride All
    Order deny,allow
    Allow from all
    Require all granted
  </Directory>

  <Directory {{ rainloop_path }}/data>
    Require all denied
  </Directory>

</VirtualHost>
